ol::content{
    color: blueviolet;
}
li::marker{
    content:"🌺";
}
li::first-line{
    color: darkorange;
}



p::first-line{
    color: chartreuse;
    font-size: 2rem;
}

p::selection{
    background-color: darkmagenta;
}
p::before{
    content:"🌄" ;
}
p::after{
    content:"🌄";
}

#h1{
    background-color: coral;
    text-align: justify;
    box-shadow: 10px 10px 10px black;
    border: 20px;
    display: inline-block;
    
}

a{
    font-size: 2rem;
    

}
a:link{
    background-color: darkturquoise;
}
a:visited{
    background-color: coral;
}


a:hover{
    color: gray;
    background-color: darkgoldenrod;
    text-decoration: none;
}
a:active{
    border-radius: 20px;
    background-color: darkcyan;
}
iframe{
    width: 300px;
    height: 400px;
}